<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %><br /><br />
        <%= link_to "Following (#{@user.following_users.count})", followings_user_path(@user) %>
        <%= link_to "Followers (#{@user.follower_users.count})", followers_user_path(@user) %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>Following (<%= @follower_users.count %>)</h3>
      <% @follower_users.each do |follow| %>
        <p class="followList"><%= gravatar_for follow %> 名前:<%= follow.name %><br />
        <a href="/users/<%= follow.id %>/followings">Following</a>
        <a href="/users/<%= follow.id %>/followers">Follower</a>
        </p>
        <br>
      <% end %>
    <% end %>
  </div>
</div>