<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>

<div class="container">
  <table class="table table-striped">
  <tr>
    <th>Name</th>
    <td><%= @user.name %></td>
    <td><%= link_to "edit" , edit_user_path(@user) %></td>
  </tr>
  <tr>
    <th>Email</th>
    <td><%= @user.email %></td>
    <td><%= link_to "edit" , edit_user_path(@user) %></td>
  </tr>
  <tr>
    <th>Password</th>
    <td><%= @user.password %></td>
    <td><%= link_to "edit" , edit_user_path(@user) %></td>
  </tr>
    <tr>
    <th>Address</th>
    <td><%= @user.address%></td>
    <td><%= link_to "edit" , edit_user_path(@user) %></td>
  </tr>
</table>
</div>